<div class="contract-detail-container clearfix ">
    <!-- <div class="float-left contract-detail-lhs">
        <div class="contract-pg-nav">
            <ul class="main-list">
                <li> Student
                    <ul class="sub-list">
                        <li routerLink="student-details" routerLinkActive="active">
                            Details</li>
                        <li routerLink="course-details" routerLinkActive="active">
                            Course</li>
                        <li routerLink="grade" routerLinkActive="active">
                            Grade</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>-->
    <div class="">
        <router-outlet></router-outlet>
    </div> 
</div>