<!-- <router-outlet></router-outlet> -->

<div class="contract-detail-container clearfix ">
    <div class="float-left contract-detail-lhs">
        <div class="contract-pg-nav">
            <ul class="main-list">
                <li> Course
                    <ul class="sub-list">
                        <li routerLink="course-details" routerLinkActive="active">
                            Details</li>
                        <li routerLink="grade" routerLinkActive="active">
                            Grade</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-right contract-detail-rhs">
        <router-outlet></router-outlet>
    </div>
</div>