.example-card {
    max-width: 400px;
  }

.display{
    display: flex;
    margin-top: 60px;
}

.move{
  display: inline; 
  float: right;
}

.example-container {
  width: 178px;
  height: 600px;
  display: inline-block;
}
