<!-- <router-outlet></router-outlet> -->
<div class="db-holder ">
    <div style="width: 1300px;">
        <div class="pageheader make-relative">
            <div class="db-headertxt grey-text mb-2 mt-2" style="display: inline;"> Overview </div>
            <!-- <div style="display: inline; float: right;">
                <button type="button" mat-raised-button color="primary"  (click)="onRegister()">Register</button>
            </div> -->
        </div>
        <div class="col-md-12 display">
            <div class="col-md-4 " style="flex: 1 1 auto;">
                <mat-card (click)="onSelectTab(item.route)" class="example-card" *ngFor="let item of listOfTabs;">
                    <mat-card-header>
                        <mat-card-title>{{item.name}}</mat-card-title>
                    </mat-card-header>
                    <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>