<h1 mat-dialog-title style="margin-left: 20px;">{{dialogData.headerText}}</h1>
<form [formGroup]="registerationForm" (ngSubmit)="saveDetails()">
    <div mat-dialog-content>
        <div class="row">
            <!-- <div class="col-sm-4"> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentFirstName').errors?.required">First Name is
                Required
            </mat-error> -->
            <!-- </div>
            <div class="col-sm-4"> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="Middle Name" formControlName="studentMiddleName">
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentMiddleName').errors?.required">First Name is
                Required
            </mat-error> -->
            <!-- </div>
            <div class="col-sm-4"> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentLastName').errors?.required">First Name is
                Required
            </mat-error> -->
            <!-- </div> -->
        </div>
        <div class="row">
            <mat-form-field style="margin-left: 30px;">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option [value]="gender" *ngFor="let gender of genders">{{gender}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('gender').errors?.required">First Name is
                Required
            </mat-error> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="Father Name" formControlName="fatherName">
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentLastName').errors?.required">First Name is
                Required
            </mat-error> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="Mother Name" formControlName="motherName">
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentLastName').errors?.required">First Name is
                Required
            </mat-error> -->
        </div>
        <div class="row">
            <mat-form-field style="margin-left: 30px;">
                <mat-label>Branch</mat-label>
                <mat-select formControlName="branch">
                    <mat-option [value]="branch" *ngFor="let branch of branchs">{{branch}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentLastName').errors?.required">First Name is
                Required
            </mat-error> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <!-- <mat-error class="mt-1" *ngIf="registerationForm.get('studentLastName').errors?.required">First Name is
                Required
            </mat-error> -->
            <mat-form-field style="margin-left: 30px;">
                <input matInput placeholder="Email Id" formControlName="email">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field style="margin-left: 30px;">
                <input matInput [matDatepicker]="pickerStartDate" formControlName="dob"
                    (click)="pickerStartDate.open()" placeholder="Date Of Birth">
                <mat-hint align="start">Hint: DD-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="dialog-footer" style="text-align: center;">
        <button type="submit" mat-raised-button color="primary" [disabled]="!registerationForm.valid">Save</button>
    </div>
</form>